@import "../../utils.scss";



.row {
    @include breakpoint (desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include breakpoint (tablet) {
        max-width: 100%;
    }
}

form {
    max-width: 100%;
}

